* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 100%;
  }
  
  .profile-card {
    border-radius: 4px;
    box-shadow: hsla(0, 0%, 0%, .8) 10px 10px 80px;
    width: 480px;
    max-width: calc(100vw - 10px);
    background-color: hsla(0, 0%, 100%, .5);
  }
  
  body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('assets/beach.jpg') no-repeat center center fixed;
    background-size: cover;
  }
  
  .head, .content {
    width: 90%;
    margin: 0 auto;
  }
  
  .head, .links {
    text-align: center;
  }
  
  img {
    width: 150px;
    height: 160px;
    border-radius: 50%;
    padding: 1px;
    background-color: #666;
    transition: all 0.5s ease-in-out;
  }
  
  img:hover {
    transform: scale(1.1);
    filter: grayscale(20%);
  }
  
  .profile-image {
    margin-top: -60px;
  }
  
  ul {
    list-style-type: none;
  }
  
  li {
    display: inline;
  }
  
  .head, .about {
    margin-bottom: 10%;
  }
  
  .content {
    padding: 5% 10%;
    border-top: 1px solid hsla(0, 0%, 30%, .8);
  }
  
  h1 {
    font-size: 2em;
  }
  
  .social-icon {
    color: rgba(46, 46, 46, 0.6);
  }  